@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- daterange picker -->
<link rel="stylesheet" href="~/adminLte/plugins/daterangepicker/daterangepicker.css">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reporte de Normalización</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active">Reporte de Normalización</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content" id="reporteNormalizacion">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <!-- Date -->
                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Autorizador</label>
                            <select class="custom-select form-control-border" v-model="form.autorizador">
                                <option v-for="item in autorizadores" :value="item.codigoTrabajador" :key="item.codigoTrabajador">
                                    {{item.nombres}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Captador</label>
                            <select class="custom-select form-control-border" v-model="form.gestor">
                                <option v-for="item in gestores" :value="item.codigoTrabajador" :key="item.codigoTrabajador">
                                    {{item.nombres}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Distrito</label>
                            <select class="custom-select form-control-border" v-model="form.idDistrito">
                                <option v-for="item in distritos" :value="item.idDistrito" :key="item.idDistrito">
                                    {{ item.nombreDistrito }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Zona</label>
                            <select class="custom-select form-control-border" v-model="form.zona">
                                <option v-for="item in zonas" :value="item.id" :key="item.id">
                                    {{ item.text }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Rango de fechas</label>
                            <!-- Date and time range -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="reservationtime" title="Rango de fechas">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-2">
                                <label for="exampleSelectBorder">&nbsp;</label>
                                <button v-on:click="buscar" class="btn form-control btn-primary" title="Buscar"><i class="fas fa-search"></i></button>                          
                        </div>
                        <div class="col-lg-2">
                                <label for="exampleSelectBorder">&nbsp;</label>
                                <button onclick="location.reload()" class="btn form-control btn-default" title="Recargar"><i class="fas fa-sync"></i></button>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <!-- Date and time -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <!-- PIE CHART -->
                    <div v-show="visible" class="card card-info" id="visible">
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3>Normalización {{reporte.rangoFechas}}</h3>
                                @*<button title="Descargar" class="btn btn-default" onclick="printDiv('visible')">
                                    <i class="fas fa-file-download text-success fa-2x"></i>
                                </button>*@
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>NORMALIDAD</th>
                                                    <th>CUENTA CLIENTE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>12 a más Sem.</td>
                                                    <td>{{reporte.contador12}}</td>
                                                </tr>
                                                <tr>
                                                    <td>2 a 3 Sem.</td>
                                                    <td>{{reporte.contador2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>4 a 7 Sem.</td>
                                                    <td>{{reporte.contador4}}</td>
                                                </tr>
                                                <tr>
                                                    <td>8 a 11 Sem.</td>
                                                    <td>{{reporte.contador8}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Normalización</td>
                                                    <td>{{reporte.contadorN}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Total General</th>
                                                    <th>{{reporte.total}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>NORMALIDAD</th>
                                                    <th>CUENTA CLIENTE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>12 a más Sem.</td>
                                                    <td>{{reporte.porcentajeContador12}} %</td>
                                                </tr>
                                                <tr>
                                                    <td>2 a 3 Sem.</td>
                                                    <td>{{reporte.porcentajeContador8}} %</td>
                                                </tr>
                                                <tr>
                                                    <td>4 a 7 Sem.</td>
                                                    <td>{{reporte.porcentajeContador4}} %</td>
                                                </tr>
                                                <tr>
                                                    <td>8 a 11 Sem.</td>
                                                    <td>{{reporte.porcentajeContador2}} %</td>
                                                </tr>
                                                <tr>
                                                    <td>Normalización</td>
                                                    <td>{{reporte.porcentajeContadorN}} %</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Total General</th>
                                                    <th>100%</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">Gráfico de torta Resumen</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- STACKED BAR CHART -->
                    @*<div v-show="visible" class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Cumplimiento por meses</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>*@

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
    </div>
</section>
@section Scripts {
    
    <!-- date-range-picker -->
    <script src="~/adminLte/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- ChartJS -->
    <script src="~/adminLte/plugins/chart.js/Chart.min.js"></script>

    <script language="javascript">
        function printDiv(nombreDiv) {
            var contenido = document.getElementById(nombreDiv).innerHTML;
            var contenidoOriginal = document.body.innerHTML;
            document.body.innerHTML = contenido;
            window.print();
            document.body.innerHTML = contenidoOriginal;
        }
        //Date range picker with time picker
        function torta(contadorN, contador2, contador4, contador8, contador12) {
            var donutData = {
                labels: [
                    'Normalización',
                    '2 a 3 semanas',
                    '4 a 7 semanas',
                    '8 a 11 semanas',
                    '12 a más semanas',
                    //'Neutro',
                ],
                datasets: [
                    {
                        data: [contadorN, contador2,contador4,contador8,contador12],
                        backgroundColor: ['#14a654', '#64E70A', '#FDEF0F', '#FD9C0F', '#F31308'],
                        //backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieData = donutData;
            var pieOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            })
        }
        $(function () {
            //var donutData = {
            //    labels: [
            //        'No Cumple',
            //        'Cumple',
            //        //'Neutro',
            //    ],
            //    datasets: [
            //        {
            //            data: [700, 500],
            //            backgroundColor: ['#f56954', '#00a65a'],
            //            //backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
            //        }
            //    ]
            //}
            //var donutOptions = {
            //    maintainAspectRatio: false,
            //    responsive: true,
            //}

            //-----------------------
            var areaChartData = {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julop'],
                datasets: [
                    {
                        label: 'No normalizados',
                        backgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: 'Normalizados',
                        backgroundColor: 'rgba(210, 214, 222, 1)',
                        borderColor: 'rgba(210, 214, 222, 1)',
                        pointRadius: false,
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                ]
            }

            var areaChartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }]
                }
            }
            var barChartData = $.extend(true, {}, areaChartData)
            var temp0 = areaChartData.datasets[0]
            var temp1 = areaChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: false
            }
            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            //var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            //var pieData = donutData;
            //var pieOptions = {
            //    maintainAspectRatio: false,
            //    responsive: true,
            //}
            ////Create pie or douhnut chart
            //// You can switch between pie and douhnut using the method below.
            //new Chart(pieChartCanvas, {
            //    type: 'pie',
            //    data: pieData,
            //    options: pieOptions
            //})
            //---------------------
            //- STACKED BAR CHART -
            //---------------------
            var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
            var stackedBarChartData = $.extend(true, {}, barChartData)

            var stackedBarChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }

            new Chart(stackedBarChartCanvas, {
                type: 'bar',
                data: stackedBarChartData,
                options: stackedBarChartOptions
            })
        });
        //var hoy = new Date();
        //var today = moment().format('YYYY-MM-DD');

        //Vuee
        var vform = new Vue({
            el: '#reporteNormalizacion',
            data: {
                visible:false,
                reporte: [],
                fechaInicio: '',
                fechaFin: '',
                zonas: [
                    { id: 'A', text: 'A' },
                    { id: 'B', text: 'B' }

                ],
                form:[],
                distritos:[],
                gestores:[],
                autorizadores:[]
            },
            created() {
               
                var _this = this;
                $(function () {
                    $('#reservationtime').daterangepicker({
                        timePicker: false,
                        timePickerIncrement: 120,
                        locale: {
                            format: 'YYYY-MM-DD',
                            "applyLabel": "Aplicar",
                            "cancelLabel": "Cancelar",
                            "fromLabel": "De",
                            "toLabel": "Hasta",
                            "customRangeLabel": "Config",
                            "daysOfWeek": [
                                "Dom",
                                "Lun",
                                "Mar",
                                "Mie",
                                "Jue",
                                "Vie",
                                "Sab"
                            ],
                            "monthNames": [
                                "Enero",
                                "Febrero",
                                "Marzo",
                                "Abril",
                                "Mayo",
                                "Junio",
                                "Julio",
                                "Agosto",
                                "Setiembre",
                                "Octubre",
                                "Noviembre",
                                "Diciembre"
                            ],
                        }
                    })
                });
                fetch('/Clientes/Distritos',
                    {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.distritos = result.distritos;
                        }
                    });
                fetch('/Clientes/Gestores',
                    {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.gestores = result.gestores;
                        }
                    });
                fetch('/Clientes/Autorizadores',
                    {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.autorizadores = result.autorizadores;
                        }
                    });
            },
            methods: {
                buscar(){
                    var form = Object.assign({}, vform.form);
                    form.rangoFechas = $('#reservationtime').val();
                    console.log(form);
                    fetch('/Reportes/VerNormalizacion',
                        {
                            method: 'POST',
                            body: JSON.stringify(form),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(result => result.json())
                        .then(function (result) {
                            if (result.success == true) {
                                vform.visible = true;
                                vform.reporte=result.reporte;
                                var total = vform.reporte.contadorN + vform.reporte.contador2 + vform.reporte.contador4 + vform.reporte.contador8 + vform.reporte.contador12;
                                vform.reporte.total=total;
                                vform.reporte.porcentajeContadorN = ((vform.reporte.contadorN / total) * 100).toFixed(2);
                                vform.reporte.porcentajeContador2 = ((vform.reporte.contador2 / total) * 100).toFixed(2);
                                vform.reporte.porcentajeContador4 = ((vform.reporte.contador4 / total) * 100).toFixed(2);
                                vform.reporte.porcentajeContador8 = ((vform.reporte.contador8 / total) * 100).toFixed(2);
                                vform.reporte.porcentajeContador12 = ((vform.reporte.contador12 / total) * 100).toFixed(2);
                                vform.reporte.rangoFechas = form.rangoFechas;
                                torta(vform.reporte.porcentajeContadorN, vform.reporte.porcentajeContador2, vform.reporte.porcentajeContador4, vform.reporte.porcentajeContador8, vform.reporte.porcentajeContador12);
                            }
                        });

                    
                }
            }
        });
    </script>
}