@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reporte de Asistencias</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active">Reporte de Asistencias</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content" id="reporteAsistencia">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de empleados</h3>

                    <!-- Date -->
                    <div class="row">
                        <div class="col-md-4"></div>
                        @*<div class="col-md-2 form-group">
                            <div>
                                <input v-model="fechaBusqueda" id="fechaBusqueda" type="date" class="form-control" />
                            </div>
                        </div>*@
                        <!-- Date and time range -->
                        <div class="form-group col-lg-4 col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                </div>
                                <input type="text" class="form-control float-right" v-model="fechaBusqueda"  id="fechaBusqueda" title="Rango de fechas">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="col-md-2">
                            <button v-on:click="buscarFecha" class="btn form-control btn-primary"><i class="fas fa-search"></i>&nbsp; Buscar</button>
                        </div>
                    </div>
                    <!-- Date and time -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                @*<th style="width: 10px">#</th>*@
                                <th style="width: 100px">Empleado</th>
                                <th style="width: 40px">Fecha</th>
                                <th style="width: 40px">Entrada</th>
                                <th style="width: 40px">Almuerzo</th>
                                <th style="width: 40px">Regreso</th>
                                <th style="width: 40px">Salida</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
    </div>
</section>
@section Scripts {
    <script src="~/adminLte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminLte/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminLte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminLte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/adminLte/plugins/daterangepicker/daterangepicker.js"></script>
    <script language="javascript">
        //Date picker
        var hoy = new Date();
        var today = moment().format('YYYY-MM-DD');
        //Funcion table
        function crearDatatable(idTabla,data) {
            var jsonResult='';
            $("#" + idTabla).DataTable({
                'pageLength': 20,
                lengthMenu: [
                    [20, 25, 50, -1],
                    ['20', '25', '50', 'Todo']
                ],
                //"serverSide": true,
                retrieve: true,
                bDestroy: true,
                //processing: true,
                dom: 'Blfrtip',
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis",'pageLength'
                //{   
                //    text: 'Recargar',
                //    action: function () {
                //            $("#" + idTabla).ajax.reload();
                //    }
                //}
                ],
                data: data,
                columns: [
                    { data: 'trabajador' },
                    {
                        data: 'fechaAsistencia', render: (val, b, c) => {
                            return `<span class="badge bg-warning" >` + moment(val).format('DD/MM/YYYY') + `</span>`;
                        }
                    },
                    { 
                        data: 'horaEntrada', render: (val, b, c) => {
                            return `<span class="badge bg-primary" >` +val + `</span>`;
                        }
                    },
                    { data: 'horaAlmuerzo' },
                    { data: 'horaAlmuerzoRegreso' },
                    {
                        data: 'horaSalida', render: (val, b, c) => {
                            return `<span class="badge bg-success" >` + val + `</span>`;
                        }
                    }
                ],
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad",
                        "pageLength": "Cantidad registros"
                    }
                }
            }).buttons().container().appendTo('#' + idTabla + '_wrapper .col-md-6:eq(0)');
        }
        //Vuee
        var vform = new Vue({
            el: '#reporteAsistencia',
            data: {
                lista: [],
                fechaBusqueda: ''
            },
            created() {
                this.fechaBusqueda = today.toString();
                var _this = this;
                $(function () {
                    $('#fechaBusqueda').daterangepicker({
                        timePicker: false,
                        timePickerIncrement: 120,
                        locale: {
                            format: 'YYYY-MM-DD',
                            "applyLabel": "Aplicar",
                            "cancelLabel": "Cancelar",
                            "fromLabel": "De",
                            "toLabel": "Hasta",
                            "customRangeLabel": "Config",
                            "daysOfWeek": [
                                "Dom",
                                "Lun",  
                                "Mar",
                                "Mie",
                                "Jue",
                                "Vie",
                                "Sab"
                            ],
                            "monthNames": [
                                "Enero",
                                "Febrero",
                                "Marzo",
                                "Abril",
                                "Mayo",
                                "Junio",
                                "Julio",
                                "Agosto",
                                "Setiembre",
                                "Octubre",
                                "Noviembre",
                                "Diciembre"
                            ],
                        }
                    })
                });
                var request = {
                    fecha: hoy
                };
                //crearDatatable('example1', _this.fechaBusqueda);
                fetch('/Asistencia/ReporteAsistencias?request=' + this.fechaBusqueda,
                    {
                        method: 'POST',
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        crearDatatable('example1', result);
                        //if (result.success == true) {
                        //    //_this.lista = result.model;
                            
                        //}

                    });
            },
            methods: {
                buscarFecha: () => {
                    var _this = this;
                    //var timeinput = $("#reservationdate").data('date');
                    var timeinput = $("#fechaBusqueda").val()
                    var request = {
                        fecha: timeinput
                    };
                    //crearDatatable('example1', timeinput);
                    fetch('/Asistencia/ReporteAsistencias?request=' + timeinput,
                        {
                            method: 'POST',
                        })
                        .then(result => result.json())
                        .then(function (result) {
                            $("#example1").DataTable().clear().rows.add(result).draw();
                        });
                }
            }
        });
    </script>
}