@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <p class="d-block">Bienvenido(a)</p>
    <h1 class ="display-4" style="color:black">@User.Claims.ToArray()[1].Value</h1>
</div>
    