@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar Cliente</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active">Editar Cliente</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content" id="editarCliente">
    <div class="row">
        <div class="col-md-12">
            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="~/img/logocd.jpeg" alt="AdminLTELogo" height="180" width="180">
            </div>
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Actualizar la información
                    </h3>
                    <br />
                    <a class="badge bg-success" asp-controller="Clientes" asp-action="ListaClientes">
                        <i class="fas fa-list"></i> &nbsp; Lista de CLientes
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Distrito</label>
                            <select class="custom-select form-control-border" v-model="form.idDistrito">
                                <option v-for="item in distritos" :value="item.idDistrito" :key="item.idDistrito">
                                    {{ item.nombreDistrito }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Zona</label>
                            <select class="custom-select form-control-border" v-model="form.zona">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Captador</label>
                            <select class="custom-select form-control-border" v-model="form.gestor">
                                <option v-for="item in gestores" :value="item.CodigoTrabajador" :key="item.CodigoTrabajador">
                                    {{item.nombres}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Nombres</label>
                            <input v-model="form.nombres" type="text" class="form-control" maxlength="100" />
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Apellidos</label>
                            <input v-model="form.apellidos" type="text" class="form-control" maxlength="100" />
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">DNI</label>
                            <input v-model="form.dni" type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="15" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Dirección</label>
                            <input v-model="form.direccion" type="text" class="form-control" maxlength="100" />
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Celular</label>
                            <input v-model="form.celular" type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="15" />
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Ubicación</label>
                            <input v-model="form.ubicacion" class="form-control" type="text" maxlength="100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Trabajo / Ocupación</label>
                            <input v-model="form.trabajo" type="text" class="form-control" maxlength="250" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="exampleSelectBorder">Nombre de Hijos</label>
                            <input v-model="form.nombreHijos" type="text" class="form-control" maxlength="250" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="tieneConyuge" v-model="form.tieneConyuge" :value="true">
                                <label class="custom-control-label" for="tieneConyuge">¿Tiene Conyuge?</label>
                            </div>
                        </div>
                    </div>  
                    
                    <div v-if="form.tieneConyuge">
                         <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Nombres</label>
                                <input v-model="form.nombresConyuge" type="text" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Apellidos</label>
                                <input v-model="form.apellidosConyuges" type="text" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">DNI</label>
                                <input v-model="form.dniConyuge" type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="15" />
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Celular</label>
                                <input v-model="form.celularConyuge" type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="15" />
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Ubicación</label>
                                <input v-model="form.ubicacionConyuge" type="text" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Dirección</label>
                                <input v-model="form.direccionConyuge" type="text" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Trabajo</label>
                                <input v-model="form.trabajoConyuge" type="text" class="form-control" maxlength="100" />
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="tieneAval" v-model="form.tieneAval" :value="true">
                                <label class="custom-control-label" for="tieneAval">¿Tiene Aval?</label>
                            </div>
                        </div>
                    </div>
                    <div v-if="form.tieneAval">
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Nombres</label>
                                <input v-model="form.nombresAval" type="text" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Apellidos</label>
                                <input v-model="form.apellidosAval" type="text" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">DNI</label>
                                <input v-model="form.dniAval" type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="15" />
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Celular</label>
                                <input v-model="form.celularAval" type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="15" />
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Ubicación</label>
                                <input v-model="form.ubicacionAval" type="text" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Dirección</label>
                                <input v-model="form.direccionAval" type="text" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Trabajo</label>
                                <input v-model="form.trabajoAval" type="text" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label for="exampleSelectBorder">Parentezco Aval</label>
                                <input v-model="form.parentezcoAval" type="text" class="form-control" maxlength="100" />
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="exampleSelectBorder">Observaciones</label>
                            <textarea v-model="form.observaciones" type="text" class="form-control" maxlength="1500" rows="5"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning" v-on:Click="guardarEditarCliente"><i class="fa fa-save"></i> &nbsp; Modificar</button>
                    </div>
                        
                
                    
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
    </section>
@section Scripts {
    
    <script language="javascript">
        
        //Vuee
        function refrescar() {
            //Actualiza la página
            location.reload();
        }
        var vform = new Vue({
            el: '#editarCliente',
            data: {
                lista: [],
                buscarCliente: '',
                form:[],
                distritos:[],
                gestores:[],
                idCliente:''
            },
            created() {
                var _this = this;

                fetch('/Clientes/Distritos',
                    {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.distritos = result.distritos;
                        }
                    });

                fetch('/Clientes/Gestores',
                    {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.gestores = result.gestores;
                        }
                    });

                _this.idCliente = '@ViewBag.idCliente'
                fetch('/Clientes/Edicion?id=' + _this.idCliente,
                    {
                        method: 'POST',
                        //body: idCliente,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            vform.form = result.clientes;
                            console.log(result.clientes)
                        }
                    });
            },
            methods: {
                guardarEditarCliente(){
                    var _this = this;
                    vform.form.idCliente = _this.idCliente;
                    console.log("cliente");
                    console.log(vform.form);
                    var cliente = Object.assign({}, vform.form);
                    fetch('/Clientes/EditarCliente',
                        {
                            method: 'POST',
                            body: JSON.stringify(cliente),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(result => result.json())
                        .then(function (result) {
                            if (result.success == true) {
                                localStorage.clear();
                                setTimeout(refrescar, 1500);
                                toastr.success('¡Se actualizó correctamente el cliente!');
                            }
                        });
                }
            }
        });
    </script>
}