<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Créditos | Diego</title>
    <link rel="shortcut icon" href="~/img/logocd.jpeg">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminLte/plugins/fontawesome-free/css/a">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminLte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/fontawesome-free/css/all.min.css">
</head>
<body class="hold-transition login-page">
    <main role="main" class="pb-3">
            @RenderBody()

    </main>
    <script src="~/adminLte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminLte/dist/js/adminlte.min.js"></script>
</body>
</html>
