@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Créditos Diego - SistemaCreditos</title>
    <link rel="shortcut icon" href="~/img/logocd.jpeg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaCreditos.styles.css" asp-append-version="true" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminLte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminLte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/adminLte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/adminLte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    
    
</head>
<body>
    
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/logocd.jpeg" alt="AdminLTELogo" height="180" width="180">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- NAvegacion inicio horizontal -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="https://wa.me/+51991950984" target="_blank" class="nav-link">Reportar error</a>
                </li>
            </ul>

            <!--Navegación vertical-->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" title="Cerrar Sesión">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/img/logocd.jpeg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Créditos Diego</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/adminLte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <partial name="_LoginPartial" />
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        
                        <!-- Asistencia -->
                        <li class="nav-header">ASISTENCIA</li>
                        <li class="nav-item">
                            <a asp-controller="Asistencia" asp-action="Marcar" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt text-success"></i>
                                <p>
                                    Marcar asistencia
                                </p>
                            </a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                        {
                        <li class="nav-item">
                            <a asp-controller="Asistencia" asp-action="ReporteAsistencia" class="nav-link">
                                <i class="nav-icon far fa-chart-bar text-primary"></i>
                                <p>
                                    Reporte Asistencia
                                </p>
                            </a>
                        </li>
                        }
                        <!-- Prestamos -->
                        <li class="nav-header">GESTIÓN PRESTAMOS</li>
                        <li class="nav-item">
                            <a asp-controller="Clientes" asp-action="ListaClientes" class="nav-link">
                                <i class="fa fa-address-card nav-icon text-info"></i>
                                <p>Clientes - Préstamos</p>
                            </a>
                        </li>
                        <!-- Clientes -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-search text-warning"></i>
                                <p>
                                    Clientes
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Clientes" asp-action="NuevoCliente" class="nav-link">
                                        <i class="fas fa-user-plus nav-icon text-success"></i>
                                        <p>Nuevo Cliente</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Clientes" asp-action="ListaClientes" class="nav-link">
                                        <i class="far fa-list-alt nav-icon text-primary"></i>
                                        <p>Lista de Clientes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Reportes -->
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book text-red"></i>
                                    <p>
                                        Reportes
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Reportes" asp-action="Normalizacion"  class="nav-link">
                                            <i class="fa fa-chart-pie text-lightblue nav-icon"></i>
                                            <p>Normalización</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Reportes" asp-action="EstadodeCuenta" class="nav-link">
                                            <i class="fas fa-thermometer-half nav-icon text-orange"></i>
                                            <p>Estado de cuenta</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Reportes" asp-action="CuotasVencidas" class="nav-link">
                                            <i class="fas fa-user-times text-red nav-icon"></i>
                                            <p>Cuotas Vencidas</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            @RenderBody()
         </div>
        <!-- Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2023 <a href="https://creditosdiego.com">Sistema <b> Créditos Diego</b></a>.</strong>
            Todos los derechos reservados.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.1
            </div>
        </footer>
  <!-- /.content-wrapper -->
    </div>
    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SistemaCreditos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/adminLte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminLte/dist/js/adminlte.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
    <script src="~/adminLte/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/adminLte/plugins/toastr/toastr.min.js"></script>
    <script src="~/adminLte/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/adminLte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/adminLte/plugins/moment/moment.min.js"></script>
    <script src="~/adminLte/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/adminLte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
